<title>What's around</title>
<link rel='stylesheet' href='./static/nearby.css'>

	<div ng-controller='homeController'>

		<div class="map_hwy">
			<a href="http://www.i10exitguide.com/exit-services/alabama/"><img class="hwy" src="./static/images/hwy/I-10.png"></a>
			<img class="map" src="./static/images/hwy/beach-express-map.jpg">
			<a href="http://www.aaroads.com/guide.php?page=fbeal"><img class="hwy" src="./static/images/hwy/fbe_al.png"></a>
		</div>

  		<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    		<ol class="carousel-indicators">
		      	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      	<li data-target="#myCarousel" data-slide-to="1"></li>
		      	<li data-target="#myCarousel" data-slide-to="2"></li>
		      	<li data-target="#myCarousel" data-slide-to="3"></li>
		      	<li data-target="#myCarousel" data-slide-to="4"></li>
		      	<li data-target="#myCarousel" data-slide-to="5"></li>
		      	<li data-target="#myCarousel" data-slide-to="6"></li>
    		</ol>

    <!-- Wrapper for slides -->
    	<div class="carousel-inner" role="listbox" >
      		
            <div class="item active">
        		<img src="./static/images/attractions/wharf.jpg" alt="wharf" width="460" height="345">
                    <div class="carousel-caption">
                        <p>A quick trip down Foley Beachway Express, via Baldwin Beachway express, to the reknowned <a href="http://www.alwharf.com/">Wharf</a></p>
                    </div>
      		</div>

      		<div class="item">
        		<img src="./static/images/attractions/p_beach.jpg" alt="p_beach" width="460" height="345">
                    <div class="carousel-caption">
                        <p>Only 50 minutes to <a href="http://www.visitpensacolabeach.com/">Pensacola Beach</a></p>
                    </div>
      		</div>
    
      		<div class="item">
        		<img src="./static/images/attractions/b_angles.jpg" alt="b_angles" width="460" height="345">
                    <div class="carousel-caption">
                        <p>Close to the home of the <a href="https://www.facebook.com/USNavyBlueAngels">Blue Angels</a></p>
                    </div>
      		</div>

      		<div class="item">
        		<img src="./static/images/attractions/mobile.jpg" alt="mobile" width="460" height="345">
                    <div class="carousel-caption">
                        <p>Only 25 mi from <a href="http://www.cityofmobile.org/">Mobile, AL</a></p>
                    </div>
      		</div>

      		<div class="item">
        		<img src="./static/images/attractions/g_shores.jpg" alt="g_shores" width="460" height="345">  
                    <div class="carousel-caption">
                        <p>Only 30 mi from <a href="http://www.gulfshores.com/">Gulf Shores</a></p>     
                    </div>
      		</div>

      		<div class="item">
        		<img src="./static/images/attractions/o_beach.jpg" alt="o_beach" width="460" height="345">
                    <div class="carousel-caption">
                        <p>Only 30 mi from <a href="http://alabama.travel/places-to-go/orange-beach">Orange Beach</a></p>
                    </div>
      		</div>

      		<div class="item">
        		<img src="./static/images/attractions/e_shores.jpg" alt="e_shores" width="460" height="345">
                    <div class="carousel-caption">
                        <p>Only 15 min away from <a href="http://www.easternshorecentre.com/">Eastern Shore Shopping Centre</a></p>
                    </div>
      		</div>

      	</div>
    	</div>


    	<div class="summary">
    		<h3>Summary of proposed local commercial developments</h3>
                <h5>Connectting with <a href="http://www.roadsbridges.com/roads-ala-governor-encourages-extension-foley-beach-express">I-65</a></h5>

                <h5>Plans for the $200 million <a href="http://www.al.com/news/mobile/index.ssf/2015/05/poarch_creeks_take_control_of.html">complex</a> in Foley,AL</h5>
        
                <h5>Plans for 21-floor <a href="http://www.al.com/news/mobile/index.ssf/2015/05/brettrobinson_plans_to_build_n.html">condo</a> in Orange Beach,AL</h5>
        
                <h5><a href="http://www.gulfcoastnewstoday.com/area_news/article_3886b152-7578-11e4-b367-e3f787d12e11.html">Ascension and Grace Towers</a> in Orange Beach,AL</h5>
		</div>

	</div>
