<title>Specifications</title>
<link rel='stylesheet' href='./static/specs.css'>

<!-- <div ng-controller="homeController"> -->
	<div ng-controller='homeController'>
	<img class="images" src="./static/images/house/house.png">
  	<img class="images" src="./static/images/house/survey.png">
  	<h2>Description:</h2>
  	<h5>Commencing at the Southeast corner of the Northeast quarter of Section 9, Township 5 South, Range 4East, Baldwin County, Alabama, Run thence West, 1779.97 feet to a point: Thence run South 60 feet to an iron pipe for the point of beginning; thence run South 00°10'07"East, 643.76 feet to an iron pipe; thence run North 89°55'17"West, 203.5 feet to an iron pipe; thence run North 00°10'07" West, 643.76 feet to an iron pipe; thence run East 203.5 feet to the point of beginning.</h5>
	</div>

