* 	{
	font-family: "Arial", sans-serif;
}
body {
	background-color: #F5F5F0;
	padding: 5px;
}
.nav {
	margin: 0px 5px;
	color:#d0d0d0 !important;
}
.nav li a:hover {
	color: black !important;
	text-decoration: none !important
}
.navbar {
	background-color: #F5F5F0;
	border-radius: 10px;
	border: none;
}
a:hover {
	text-decoration: none;
}
.b4-header {
	display: inline-flex;
	padding-top: 15px;
}
.b4-header h1 {
	padding: 0px 40px;
}